* {
  margin: 0;
}

a {
  text-decoration: none;
  color: #fff;
}

body {
  background-color: #000;
  color: #fff;
}

.row {
  margin: 0 40px;
}

.flex {
  display: flex;
}

.flex-col {
  flex-direction: column;
}

.justify-content-center {
  justify-content: center;
}

.align-items-center {
  align-items: center;
}

.text-center {
  text-align: center;
}
/* Border line */
.border-min {
  position: absolute;
  left: 0;
  right: 0;
  border-bottom: 1px solid #fff;
  width: 60px;
  margin: 0 auto;
}

.border-full {
  width: 100%;
  margin: 0 -40px;
  padding: 40px;
  border-bottom: 1px solid #acacac;
}

.rounded {
  border-radius: 0.25rem;
}

.rounded-full {
  border-radius: 9999px;
}

/* btn all */
.dropdown-toggle {
  font-size: 38px !important;
}

.btn-shadow {
  height: 100px;
  color: #fff;
  font-size: 33px;
  font-family: "Bebas Neue", cursive;
  cursor: pointer;
  border: 1px solid #fff;
  padding: 10px 37px;
  background-color: transparent;
}

.dropdown-toggle {
  padding: 18px 60px 18px 25px;
}

.btn {
  width: 100%;
  height: 100px;
  color: #fff;
  font-size: 33px;
  font-family: "Bebas Neue", cursive;
  cursor: pointer;
  border: 1px solid #fff;
  background-color: transparent;
}

.btn-secondary {
  background-color: #2e2e2e;
}

.btn-success {
  background-color: #00b94e;
}

.btn svg,
.btn-shadow svg {
  margin-right: 14px;
}

/* breadcrumb */
.breadcrumb {
  font-size: 18px;
}

.breadcrumb .breadcrumb-separator span:last-child a::after {
  display: none;
}

.top a {
  color: #656565;
  font-weight: bold;
  font-size: 18px;
}

.breadcrumb .breadcrumb-separator span a,
.breadcrumb .breadcrumb-separator span {
  position: relative;
  font-family: "Bebas Neue", cursive;
  font-weight: bold;
}

.breadcrumb .breadcrumb-separator span:not(.top):after {
  content: "";
  display: block;
  position: absolute;
  left: 0;
  right: 0;
  border-bottom: 1px solid #fff;
}

.breadcrumb > span + span::before {
  content: ">";
  color: #656565;
  margin: 0 13px 0 5px;
  font-weight: bold;
  font-size: 18px;
}

/* shopping-cart */
.shopping-cart h1 {
  font-family: "Bebas Neue", cursive;
  font-size: 50px;
  font-weight: bold;
  margin: 84px 0px 28px 0;
}

.shopping-cart .content p {
  height: 50px;
  overflow: hidden;
  font-size: 16px;
  margin: 38px 0 0 0;
}

/* rental-period */
.rental-period .title-first {
  font-family: "Bebas Neue", cursive;
  font-size: 33px;
  font-weight: bold;
  margin: 50px 0 28px 0;
}

.rental-period .title-child {
  font-family: "Bebas Neue", cursive;
  font-size: 25px;
  font-weight: bold;
  padding: 26px 0px 30px 0px;
}

.rental-period .date-main {
  width: 100%;
  height: 100px;
  margin: 0 -40px;
  padding: 0 40px;
  background-color: #696969;
}

.rental-period .date-main span {
  font-family: "Bebas Neue", cursive;
  font-size: 45px;
}

.rental-period .date-main svg {
  margin-right: 23px;
}

.rental-period .date-main .date-child {
  padding: 26px 0px 21px 0px;
}

.rental-period .note {
  font-family: "Bebas Neue", cursive;
  font-size: 25px;
  text-decoration: underline;
  margin: 31px 0px 30px 0px;
}

.shopping-cart-body .item-divider {
  background: url(../images/bg_divider.png) repeat-x 7px;
  width: 100%;
  filter: saturate(100%) contrast(100%) brightness(100%) invert(100%)
    sepia(100%) grayscale(100%);
  height: 1px;
  margin-bottom: 60px;
}

.shopping-cart-body .body-shop .bg-background img {
  width: 100%;
  object-fit: cover;
}

.shopping-cart-body .body-shop .title {
  height: 50px;
  overflow: hidden;
  font-family: "Bebas Neue", cursive;
  font-size: 33px;
  font-weight: bold;
  margin: 35px 0px 24px 0px;
}

.shopping-cart-body .body-shop .price {
  font-size: 88px;
  font-weight: bold;
  font-family: "Bebas Neue", cursive;
}

.shopping-cart-body .body-shop .detail {
  gap: 15px;
  align-items: baseline;
  font-size: 38px;
  font-weight: bold;
  font-family: "Bebas Neue", cursive;
}

.shopping-cart-body .body-shop .detail2 {
  gap: 114px;
  margin: 36px 0px 62px 0px;
  display: flex;
  align-items: stretch;
}

select {
  width: 200px;
  background: url("../images/icon-down.svg") no-repeat right #ddd;
  -webkit-appearance: none;
  background-position-y: 25px;
  background-position-x: 150px;
}

.shopping-cart-body .detail-footer {
  width: 100%;
}

/* minimum-rental-period */
.minimum-rental-period .title {
  padding: 44px 0px 20px 0px;
  font-size: 25px;
  font-family: "Bebas Neue", cursive;
  text-decoration: underline;
}

.minimum-rental-period .total-order .total-order-heading {
  padding: 21px 0px 26px 0px;
  font-size: 30px;
  font-family: "Bebas Neue", cursive;
}

.minimum-rental-period p {
  font-size: 16px;
  font-family: "Bebas Neue", cursive;
}

.minimum-rental-period .total-order {
  width: 100%;
  height: 300px;
  background-color: #696969;
  margin: 62px -40px;
  padding: 40px;
}

.minimum-rental-period .button-order {
  margin: 70px 0 0 0;
}

.minimum-rental-period .total-order .detail-total-order {
  align-items: baseline;
  flex-wrap: wrap;
}

.minimum-rental-period .total-order .detail-total-order .price {
  font-size: 133px;
  margin-right: 17px;
  font-family: "Bebas Neue", cursive;
}

.minimum-rental-period .total-order .detail-total-order .type-price {
  display: block;
  font-size: 58px;
  font-family: "Bebas Neue", cursive;
}

.minimum-rental-period .total-order .detail-total-order .tax {
  flex: 100% 0 0;
  font-size: 18px;
  font-family: "Bebas Neue", cursive;
}

.question-order {
  margin: 70px 0;
  font-family: "Bebas Neue", cursive;
}

.question-order .question-title,
.question-order .question-content p {
  margin-bottom: 40px;
}

.question-order .question-content .question-content-title {
  margin-bottom: 15px;
}

/* Quantity input */
.cart-plus-minus {
  border: 1px solid #fff;
}

.cart-plus-minus .dropcart-plus-minus-box {
  height: 70px;
  width: 40px;
  border-style: none;
  text-align: center;
  font-size: 1.4rem;
  font-weight: 500;
  opacity: 0.85;
  outline: none;
  padding: 0 0.5rem;
}

.cart-plus-minus .qtybutton {
  width: calc(4.5rem / 1);
  height: 100px;
  display: flex;
  flex: auto 0 0;
  justify-content: center;
  align-items: center;
  font-size: 1.8rem;
  border: 0;
  color: inherit;
  background-color: transparent;
  cursor: pointer;
}

@media (min-width: 320px) and (max-width: 749px) {
  .row {
    margin: 0px 15px;
  }

  .border-full,
  .rental-period .date-main,
  .minimum-rental-period .total-order {
    margin: 62px -15px;
    padding: 0 15px;
  }

  .btn {
    font-size: 29px;
  }

  .minimum-rental-period .button-order {
    margin-bottom: 40px;
  }

  .minimum-rental-period .title {
    font-size: 22px;
    padding-top: 0;
  }

  .shopping-cart h1 {
    font-size: 32px;
  }

  .rental-period .title-child {
    padding-bottom: 0;
  }

  .shopping-cart .content p {
    margin-bottom: -50px;
  }
}

@media (min-width: 320px) and (max-width: 580px) {
  .minimum-rental-period .total-order .detail-total-order .price {
    font-size: 80px;
  }

  .minimum-rental-period .total-order .detail-total-order {
    flex-direction: column;
    align-items: center;
  }
}

@media (min-width: 320px) and (max-width: 556px) {
  .shopping-cart-body .body-shop .detail2 {
    flex-direction: column;
    gap: 20px;
    align-items: center;
  }

  .cart-plus-minus .dropcart-plus-minus-box {
    height: 100px;
  }
}

@media (min-width: 320px) and (max-width: 493px) {
  .shopping-cart-body .body-shop .detail {
    flex-wrap: wrap;
  }
}

@media (min-width: 320px) and (max-width: 339px) {
  .btn-secondary {
    font-size: 22px;
  }
}

@media (min-width: 320px) and (max-width: 398px) {
  .rental-period .note {
    font-size: 19px;
  }
}
